{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<h1>articles {{ article.titre }}</h1>
{{ article.description }}
            




{% endblock %}
